$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';


$background-color: #fff;

$font-color: #000;

$white: #fff;



body {

  background-color: $background-color;

  color: $font-color;

}

.box {

  border: 1px solid $white;

  background-color: $white;

  width: 33%;

  height: 2.5em;

  font-size: 5em;

}

.container {
  display: none;
}



.draw-bottom {

  border-bottom: 5px solid black;

}

.draw-top {

  border-top: 5px solid black;

}

.draw-left {

  border-left: 5px solid black;

}

.draw-right {

  border-right: 5px solid black;

}

.sign-out {
  display: none;
}
