$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';


$background-color: #000;
$font-color: #ffc0cb;
$white: #fff;
$dark-pink: #ff69b4;


.auth {
  color: $font-color;
}

body {
  background-color: $background-color;
  color: $font-color;
}

.box {
  border: 1px solid $white;
  background-color: $white;
  width: 33%;
  height: 2.5em;
  font-size: 5em;
  text-align: center;
  padding-top: 30px;
}

.btn-secondary {
  background-color: $dark-pink;
  color: $white;
}

#change-password {
  margin-bottom: 50px;
}

.draw-bottom {
  border-bottom: 5px solid black;
}

.draw-top {
  border-top: 5px solid black;
}

.draw-left {
  border-left: 5px solid black;
}

.draw-right {
  border-right: 5px solid black;
}

input {
  color: $dark-pink;
}

.sign-out {
  display: none;
}
