$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';


$blue: #00f;
$white: #fff;
$black: #000;


body {
  background-color: $blue;
  color: $black;
}

.col {
  background-color: $white;
  display: inline-block;
  font-size: 45px;
  margin: 15px;
  padding: 25px;
}

.container {
  background-color: $black;
  text-align: center;
}
